[project]
	description = Simple authentication for Python on Google App Engine supporting OAuth 2.0, OAuth 1.0(a) and OpenID. Mirror of http://code.google.com/p/gae-simpleauth/
[access "refs/*"]
	owner = group user/alex (crhym3)
[access "refs/for/refs/*"]
	read = group user/alex (crhym3)
	push = group user/alex (crhym3)
	label-Code-Review = -2..+2 group user/alex (crhym3)
	label-Verified = -1..+1 group user/alex (crhym3)
	rebase = group user/alex (crhym3)
	removeReviewer = group user/alex (crhym3)
	submit = group user/alex (crhym3)
[access "refs/heads/*"]
	read = group user/alex (crhym3)
	create = group user/alex (crhym3)
	push = +force group user/alex (crhym3)
	pushMerge = group user/alex (crhym3)
[access "refs/tags/*"]
	push = +force group user/alex (crhym3)
	pushTag = group user/alex (crhym3)
	pushSignedTag = group user/alex (crhym3)
